$main: rgb(186, 209, 154);
$secondary: rgb(109, 71, 149);
$white: rgb(231, 227, 227);
/* $dark: rgb(51, 3, 50);
 */
$primary: rgb(123, 73, 137);
$thing: rgb(231, 220, 234);
$another: rgba(144, 154, 130, 0.241);
$dark: rgb(82, 25, 80);
//  appUi

.p-button {
  width: 100%;
  padding: 5px;
  min-height: 50px;
}
.p-button-label {
  font-weight: 100;
}
