.mensajesDiv {
  background-color: $primary;
}
.mensajesArea {
  background-color: $secondary;
  height: 90%;
  color: $primary;
}

.sendMessage {
  position: fixed;
  top: 94%;
}

.inputMessage {
  position: fixed;
  top: 88% !important;
}

.writeMessage {
  /*   background-color: red; */
  height: 500px;
}

.divMsg {
  background-color: $white;
  margin-top: 60px;
  padding: 30px;
  height: 91vh !important;
  position: relative !important;
  text-align: center !important;
}

.formChat {
  background-color: $secondary;
  height: auto;
  width: 100%;
  color: $primary;
  position: fixed;
  bottom: 47px;
  right: 0px !important;
  z-index: 10;
  top: 0%;
}

.writeAMessage {
  position: relative;
  top: 98.5% !important;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px;
  border-top: 14px;
  border-color: blacks !important;
  border: solid;
}

.bg-sky-70 {
  background-color: rgba(211, 188, 177, 0.295);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: fit-content;
}

.spanName {
  margin-right: 5px;
  font-size: 20px;
}

.volverChat {
  color: white;
  font-size: 60px;
  z-index: 50;
}

.chatMsgContainer {
  overflow: auto;
  margin-right: 10px;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  margin: auto !important;
}

.pi-backward {
  color: $secondary !important;
  font-size: 20px !important;
  margin-left: 90% !important;
}

.spanNameUser {
  background-color: red;
}

.chattingWith {
  background-color: $primary;
  border-radius: 10px;
  padding: 20px;
  color: $white;
  width: fit-content;
}

.backToMessages {
  font-size: 25px;
  color: black;
  text-align: center !important;
  padding: 1.5%;
  border-radius: 40px;
  margin-top: 0 !important;
  position: relative;
  bottom: 40px !important;
}
.contactoMensajesInfo {
  text-align: center;
  color: $primary;
  font-size: 25px;
}

.mensajesDiv {
  width: 100% !important;
}
.mensajesButton {
  width: 100% !important;
}

@media screen and (min-width: 1200px) {
  .mensajesButton {
    width: 70% !important;
    margin-bottom: 5px;
  }
  .formChat {
    width: 30%;
  }
}
.conversationSpan {
  margin-right: 20px !important;
}
.conversationNotMe {
  position: relative !important;
}
