.contactoMensajesInfo {
  text-align: center;
}

.mensajesDiv {
  background-color: $primary;
  border-radius: 10px;
}
.contentChatByMe {
  color: $thing !important;
  font-size: 1rem;
}

.sendMessage {
  position: fixed;
  top: 94%;
}

.inputMessage {
  position: fixed;
  top: 88% !important;
}

.writeMessage {
  /*   background-color: red; */
  height: 500px;
}

.formChat {
  background-color: $white;
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 47px;
  right: 0px !important;
  z-index: 10;
  top: 0%;
}

.writeAMessage {
  position: relative;
  top: 99% !important;
  width: 100%;
  height: 50px;
  color: $primary !important;
  background-color: $white;
  border-color: $dark;
  border: solid 2px;
  padding: 4px;
}

.bg-sky-70 {
  background-color: $primary;
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: fit-content;
}

.spanName {
  margin-right: 5px;
  font-size: 1rem;
  color: $white;
}

.chatMsgContainer {
  overflow: auto;
  margin-right: 10px;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  margin: auto !important;
}

.spanNameUser {
  background-color: red;
}

.chattingWith {
  background-color: $primary;
  border-radius: 10px;
  padding: 20px;
  color: $white;
  width: fit-content;
}

.backToMessages {
  font-size: 1rem;
  color: $dark !important;
  text-align: center !important;
  padding: 1.5%;
  border-radius: 40px;
  margin-top: 0 !important;
  position: relative;
  bottom: 40px !important;
}

.mensajesDiv {
  width: 30% !important;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.mensajesButton {
  width: 100% !important;
}

@media screen and (min-width: 1200px) {
  .mensajesButton {
    width: 70% !important;
    margin-bottom: 5px;
    background-color: $primary;
    margin: auto !important;
  }
  .formChat {
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  }
}
.conversationSpan {
  margin-right: 20px !important;
  color: $dark;
}
.conversationNotMe {
  position: relative !important;
}
