.imgPetEditDialog {
  width: 250px !important;
  height: 250px !important;
  object-fit:cover !important;
  border-radius: 50px;
  width: 50% !important;
}

.editPetDialog {
  text-align: center;
  width: 50%;

  font-size: 0.8rem !important;
}
.petEditContainerForm {
  text-align: left;
  font-size: 0.8rem !important;
  width: 100%;
  height: 100%;
  input,
  span,
  div,
  label,
  textArea {
    margin-top: 3%;
  }
  label{
    
  }
  div {
    margin: 0;
  }

  label {
    font-size: 0.7rem;
  }
}
