@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Poiret+One&display=swap");
.home_masterDiv {
  height: 100vh;
  width: 100%;
  .mascotaPerdidaButtonDialog {
    color: $white;
    font-size: 1rem;
    min-height: 15px !important;
  }
  .avatarNavbar {
    top: 0px !important;
  }

  .mascptaEnAdopcionButtonCardMyPets {
    font-size: 1rem;
    min-height: 15px !important;
  }

  .button-containerSidePanel {
    color: $white;
  }

  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: $dark !important;
  }
  .p-button {
    background-color: transparent !important;
    font-family: "Poiret One", cursive;
  }
  .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    /*     box-shadow: 0 0 0 0.2rem #040f3c;

 */

    box-shadow: none;
  }
  .css-1mclfdm-MuiContainer-root {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .css-19r6kue-MuiContainer-root {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.home_container {
  background-color: $white;
  font-family: "Arsenal", sans-serif;
  font-weight: 100;
  p {
    color: $dark;
    /* 
    &:hover {
      background-color: blue;
    } */
  }
  display: flex;
}
/* .p-button-icon, .p-c{
  color: $white;
}  */
.p-button {
  /*   background-color: $primary;
 */
  border: none;
  margin-bottom: 1%;
}
.petFoundDialogButtons {
  background-color: transparent !important;
}
p,
.css-1q39md6-MuiButtonBase-root-MuiButton-root,
textarea,
input,
.p-dropdown,
.p-component,
.p-inputtext,
.p-inputwrapper,
.p-inputwrapper-filled {
  font-family: "Arsenal", sans-serif !important;
}
#fotoMascota {
  display: none;
}
.addPetDialog {
  width: 30%;
}
.p-dialog {
  text-align: center;
  width: 40% !important;
}
.newPetButton {
  background-color: $primary;
  color: $white;
}
.petCardDetails {
  margin-top: 2px !important;
}
.sendMsg {
  background-color: $primary;
}
@media screen and (max-width: 800px) {
  .addPetDialog {
    width: 100% !important;
  }
  .p-dialog {
    text-align: center;
    width: 100% !important;
    display: flex !important;

  }
}
