@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Poiret+One&display=swap");

.home_masterDiv {
  height: 100vh;
  width: 100vw;

  .mascotaPerdidaButtonDialog {
    color: $white;
    font-size: 1rem;
    min-height: 15px !important;
    background-color: $primary;
    border-radius: 0;
  }
  .avatarNavbar {
    top: 0px !important;
  }

  .mascptaEnAdopcionButtonCardMyPets {
    font-size: 1rem;
    min-height: 15px !important;
    color: $white;
    background-color: $primary;
    border-radius: 0;
  }

  .button-containerSidePanel {
    color: $white;
  }

  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: $dark !important;
  }
  .p-button {
    font-family: "Poiret One", cursive;
    background-color: $secondary;
  }
  .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    /*     box-shadow: 0 0 0 0.2rem #040f3c;

 */

    box-shadow: none;
  }
  .css-1mclfdm-MuiContainer-root {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .css-19r6kue-MuiContainer-root {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.home_container {
  font-family: "Arsenal", sans-serif;
  font-weight: 100;
  margin: 0;

  p {
    color: $dark;
    /* 
    &:hover {
      background-color: blue;
    } */
  }
  display: flex;
  
}
/* .p-button-icon, .p-c{
  color: $white;
}  */
.p-button {
  /*   background-color: $primary;
 */
  border: none;
  margin-bottom: 1%;
  /*   background: $thing !important;
 */
}
.petFoundDialogButtons {
  background-color: transparent !important;
}
p,
.css-1q39md6-MuiButtonBase-root-MuiButton-root,
textarea,
input,
.p-dropdown,
.p-component,
.p-inputtext,
.p-inputwrapper,
.p-inputwrapper-filled {
  font-family: "Arsenal", sans-serif !important;
}

.p-button:enabled:active,
.p-button:not(button):not(a):not(.p-disabled):active {
  background: $primary !important;
  color: #ffffff;
  border-color: #4338ca;
  background-color: $thing !important;
  padding: 5px;
}
.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  background: $primary;
  color: #ffffff;
  border-color: $secondary;
}
#fotoMascota {
  display: none;
}
.addPetDialog {
  width: 30%;
}
/* .p-dialog {
  text-align: center;
  width: 40% !important;
} */
.newPetButton {
  background-color: $primary;
  color: $white;
}
.petCardDetails {
  margin-top: 2px !important;
}
.sendMsg {
  background-color: $primary;
}

@media screen and (max-width: 800px) {
  .addPetDialog {
    width: 100% !important;
  }
  .p-dialog {
    text-align: center;
    width: 100% !important;
    display: flex !important;
  }
}
@media screen and (min-width: 800px) and (max-width: 1600) {
  .addPetDialog {
    width: 100% !important;
  }
  .p-dialog {
    text-align: center;
    width: 100% !important;
    display: flex !important;
  }
  .petFound_formPetFound {
    display: flex !important;
    justify-content: center !important;
  }
  .petFoundDialog {
    width: 100% !important;
  }
}

.bannerHome {
  margin: auto;
  width: 98%;
  font-family: arsenal, sans-serif;
  .bannerDiv {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: $thing;
    width: 100%;
    margin: 0;
    margin-top: 10px;

    /*     height: 40px; */

    .bannerText {
      width: 100%;
      position: relative;
      left: 10px;
      border-radius: 20px;
      padding: 50px;
    }
  }
  .backgroundImage {
    opacity: 70%;
    height: 30vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}

.mainDisplayHome{
  width: 100% !important;
}