.petDistanceKnob {
  width: 50%;
  margin: auto;
  padding: 20px;
  box-shadow: $secondary 0px 2px 8px 0px !important;
  box-shadow: $secondary 0px 48px 100px 0px;
  margin-bottom: 10px;
  .p-slider-horizontal {
    background-color: $thing !important;
  }
  .p-slider-range {
    background-color: $secondary !important;
  }
  .searchButtonPetLost {
    background-color: $secondary !important;
    border: 1px $primary solid !important;
    margin-top: 1%;
  }
}
