.tabMenuMobile {
  .p-tabmenu,
  .p-tabmenu-nav,
  .p-tabmenuitem,
  .p-menuitem-link,
  .p-menuitem-text {
    font-size: 0.8rem !important;
    text-align: center;
    padding: 0 !important;
    color: $dark;
  }

  .p-menuitem-text {
    color: $dark !important;
    font-size: 1rem !important;
    font-weight: 100;
    padding: 10px !important;
  }
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: $white !important;
  border-color: $dark !important;
  color: $secondary !important;
  transition: none !important;
}
.contentPetThumbailsMobile {
  margin-top: 0%;

  .mascptaEnAdopcionButtonCardMyPets {
    background-color: $primary !important;
    width: 300px !important;
  }

  .iconEditMyPetMobile {
    font-size: 1.5rem;
    opacity: 70%;
  }
  .mascotaPerdidaButtonDialog {
    background-color: $primary !important;
  }
  .petCardContentThumbailMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    border-bottom: 1px $dark solid;

    .mascotaPerdidaButtonDialog {
      border-radius: 30px !important;
    }

    .petImageThumbailMobile {
      margin-top: 6%;
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 40px;
    }
  }
  .buttonCardPetThumbailMobile {
    background-color: $primary !important;
    margin-bottom: 0;
    position: relative !important;
    top: 20px !important;
  }
}
.petDistanceKnobMobile {
  width: 50%;
  margin: auto;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;

  .p-slider-horizontal {
    background-color: $primary;
    margin-bottom: 4% !important;
  }
  .p-slider-range {
    background-color: $secondary !important;
  }
  .searchButtonPetLost {
    background-color: $primary !important;
    border: 1px $primary solid !important;
    margin-top: 5%;
    padding: 1px;
  }
}

//PET FOUND

.petFound_formPetFoundMobile {
  text-align: center;
  display: flex;
  flex-direction: column;
  .googleMapContentMobile {
    position: relative !important;
    margin: auto !important;
    display: flex;
    justify-content: center;
  }

  .cargarMascotaEncontrada {
    background-color: $primary !important;
  }
}

.addPetButtonMyPetsContainer {
  margin-top: 6% !important;
  width: 50%;
  background-color: $secondary !important;
  border-radius: 10px;
  padding: 0;
  color: red !important;
}

.addPetButtonMyPetsContainer {
  width: 100% !important;
  background-color: transparent !important;
}
.addPetButtonMyPetsMobile {
  color: $primary !important;
}
