.dialogMascotasPerdidas {
  background-color: red !important;
  width: 50% !important;
  text-align: center;

  .textArea {
    width: 100% !important;
  }
 
}
.cargarMascotaEncontrada {
    background-color: $primary;
  }


  @media screen and (max-width:800px){
    .dialogMascotasPerdidas {
      background-color: red !important;
      width: 100% !important;
      text-align: center;
    
      .textArea {
        width: 100% !important;
      }
     
    }
    .confirmDeleteDialog {
      width: 100% !important;
    }
  }