.sideBar_column {
  background-color: $secondary;
  width: 10vw;
  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-content: flex-start;
  overflow: auto;
  .p-button-label {
    background-color: $secondary;
    padding: 0%;
    border-radius: 13px;
    border: none;

    &:hover {
      color: $dark;
      border-radius: 10px !important;
      border: none;
    }
  }

  .addMyPet_containerButtonsSidePanel {
    height: 100% !important;
  }
  .button-containerSidePanel {
    width: 100%;
    border-color: $main;
    border: none;
    margin: auto;
    font-size: 1rem;
    position: relative;
    margin-top: 0px !important;
    min-height: 20px;
  }
}
.containerSideBar {
  width: 12vw !important;
}

