.textArea{
    width: 100%;
}
.dialogMascotasPerdidas{
    height: 550px !important;
}
.sendMsg{
    border: none;
    margin: 10px;
}
.dialogButtons{
    display: flex;
    justify-content: end;
    position: relative;
    top: 30px;
}
.petFoundedPhoto{
    position: relative;
    top: 20px;
    font-size: 3rem !important;
}