.ControlPanel1Arrows {
  color: rgb(255, 255, 255);
  display: flex;
}


.pulse-animated-leftArrowDataDisplay {
  font-size: 4.3rem;

}
.pulse-animated-rightArrowDataDisplay {
  font-size: 4.3rem;
}
.arrowIcon {
  font-size: 4rem;

}
