.editarMascotaDialog {
  width: 70% !important;
  padding: 0 !important;
}
.editarMascotaContentDialog {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(255, 255, 255) !important;
}

.imgPetEditDialog {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 400px !important;
  background-color: black;
  margin: auto !important;
  position: relative;
  margin-right: 120px !important;
  right: 200px;
}
.editPetFetchButton {
  border: none;
  background-color: black;
  margin-top: 5px;
}
.petEditForm {
  margin-bottom: 30px;
}
.cancelButtonDialogEditPet{
  color: black !important;
}