.appBarTop {
  justify-content: center !important;
  background-color: rgba(255, 0, 0, 0.114) !important;
  height: 5vh;
}

.avatarNavbar {
  width: 30px !important;
  height: 30px !important;
}

.divTopNavBar {
  width: 100%;
  height: 5vh;
}
.containerHomeDiv {
  
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.css-19r6kue-MuiContainer-root {
  margin: 0;
}

.menuItemAppBarPublic {
  background-color: rgba(255, 0, 0, 0.114) !important;
}
