.divTopNavBar {
  height: 7vh;
  background-color: rgba(109, 54, 54, 0.762);
  display: flex !important;
  align-content: center;
}
.css-19r6kue-MuiContainer-root {
  position: fixed;
  z-index: 1;
  min-height: auto;
}
.css-19r6kue-MuiContainer-root {
  height: 7vh;
  min-height: auto;
}
.css-1t6c9ts {
  height: 7vh !important;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

}
.css-r6ewbb-MuiToolbar-root {
  height: 7vh !important;
  min-height: auto !important;
}
.css-1mclfdm-MuiContainer-root{
  background-color: black;
}
.containerHomeDiv{
  display: flex;
}