.googleMapContent {
  position: relative !important;
  width: 100% !important;
  height: 130px !important;
}
.gmnoprint{
  display: none;
}
@media screen and (max-width: 500px) {
  .googleMapContent {
    position: relative !important;
    width: 100% !important;
    height: 150px !important;
  }
}
