.dialogMascotasPerdidas {
  background-color: white !important;
  text-align: center;
  height: 80vh !important;
  width: 40% !important;
}
.googleMapMascotaPerdida {
 
}
.mascotaPerdidaButtonDialog {
  background-color: black;
  border: none;
  
}

.contentMapMascotaEncontrada {

}
