.dialogMascotasPerdidas {
  background-color: white !important;
  text-align: center;
  height: 100%;
  width: 40% !important;
}
.googleMapMascotaPerdida {
  width: 90% !important;
  height: 72% !important;
}
.mascotaPerdidaButtonDialog {
  background-color: black;
  border: none;
  
}

.contentMapMascotaEncontrada {
  height: 10vh !important;

}
