.mascotaEncontradaDialogButtons {
  border: none;
  color: white;
  font-size: 15px;
  width: 100%;
}
.mascotaEncontradaDialogButtonCancel {
  color: black !important;
}

.dialogMascotasEncontrada {
  width: 40% !important;
  text-align: center !important;

}
.headerDialogMascotaEncontrada {
  text-align: center;
  text-align: center !important;

}
