.googleMapMascotaPerdida {
  height: 50% !important;
  width: 100%;
  margin-top: 3%;
}
.dialogMascotasPerdidas {
  padding: 0px;
  height: 70%;
  margin: auto !important;
  text-align: center;

}
.contentMapMascotaEncontrada {
}
.containerGoogleMapsMascotaPerdida {
  height: fit-content;
}
.divAddNewPet{
}
.petDialogTextArea{
  height: 100px !important;
  
}