.avatarMyPets {
  width: 25px !important;
  height: 25px !important;
  object-fit: cover !important;
  display: block;
  bottom: 15px;
  right: 10px;
}
.cardActionMyPet {
  justify-content: center;
}
.cardMyPets {
  text-align: center;
  width: 150px;
  height: 60px;
  margin-bottom: 5px;
  position: relative;
  left: 24px;
}
.cardContent {
  height: 10%;
  background-color: rgba(156, 150, 181, 0.289);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cardMyPetDescription {
  height: 65px;
  position: relative;
  bottom: 40px;
  font-size: 10px;
}
.myPetName {
  position: relative;
  bottom: 38px;
  font-size: 12px !important;
  width: 85px;
  display: flex;
  flex-direction: column;
}
.buttonLost {
  background-color: #d66953 !important;
  padding: 2px !important;
  position: relative;
  top: 2px;
  font-size: 0.6rem;
  width: 100%;
  color: white !important;
  font-weight: 600 !important;
}
.divToolsIcon{
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 110px;
  bottom: 17px;
}
.divNameClass{
  width: 80px;
  text-align: center;
  margin-left: 20px;
}

/* .buttonLost{
  
  text-decoration: none;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgba(29, 171, 209, 1);
   padding: 70px 30px;
   font-family: 'calibri', sans-serif;
   text-transform: uppercase;
   border-radius: 50%;
   animation: animacion 2s linear infinite;
} */

/* @keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, .6),  0 0 0 0 rgba(29, 171, 209, .6);
  }

  30% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, .6);
  }

  65% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), , 0 0 0 30px rgba(29, 171, 209, 0);
  }

} */