.cardSideBarMyPetsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
/*   border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 20px; */
  background-color: transparent !important;
  max-height: 150px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.255);
}
.componentMyPetsCard {
  text-align: center;
}

.avatarAndToolContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.avatarMyPets {
  min-width: 40px !important;
  min-height: 40px !important;
}
.p-inputswitch-slider {
  width: 100% !important;
  height: 100%;
  bottom: 0px;
}
.divInputSwitch {
  display: flex;
  justify-content: center;
}
.iconEditMyPet {
  color: rgba(0, 0, 0, 0.506);
  font-size: 1.3rem;
  position: relative;
  top: 10px;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
.namePetMyPetCard {
  font-size: 0.9rem;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #6fc271;
}
.p-inputswitch .p-inputswitch-slider {
  background: #947676;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 30px;
}