@media screen and (min-width: 1200px) {
  .divMyPetsContent {
    display: flex;
    flex-direction: column;
    height: 80vh;

  }
  .componentMyPetsCard {
    height: fit-content !important;
    display: flex;
    flex-direction: column;
  }
}
