.googleMapContent {
  width: 300px !important;
  height: 300px !important;
  position: relative !important;
  border: 3px solid rgba(0, 0, 0, 0.166);
}
.mapaMascotaEncontrada {
  border-radius: 30px;
  margin-right: 40px;
}
.formPetFound {
  width: 100% !important;
}
.bodyPetFound {
}
.petFoundDialog {
  width: 50vw !important;
}
.gmnoprint {
  display: none;
}
.gm-control-active {
  display: none;
}
#fotoMascota {
  display: none;
}
.field {
  height: 25px;
}

.formPetRegister {
  text-align: left;
}
