.contentPetThumbails {
  height: 100%;
  width: 100%;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.016) !important;
  align-content: flex-start;
}

.petCardContentThumbail {
  margin: auto;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 10px;
  color: rgb(0, 0, 0);
  padding: 0px;
  margin-bottom: 10px;
  border: solid 1px rgba(0, 0, 0, 0.051) !important;
  border-radius: 40px;
}
.divPetImagePetLostThumbail {
}
.petImageThumbail {
  margin-top: 10px;
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  align-self: center;
  padding: 1%;
  border-radius: 30px;
  background-color: rgba(28, 27, 27, 0.068);
}

.petCardDetails {
  margin: 1px;
  position: relative;
  font-size: 0.8rem;
  margin: 0;
}
.buttonCardPetThumbail {
  background-color: #cecfd5ba !important;
  border: none;
  position: relative;
  font-size: 1rem;
  color: black;
  width: 70% !important;
  height: 100%;
  margin: auto;
  bottom: 40px;
  padding: 3px;
}

.tittleContentDataDisplayPetLost {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.petCardDetailsDescription {
  width: 100%;
  position: relative;
  font-size: rem;
  height: 50px;
}

.geoAdress {
  margin: 0;
  position: relative;
  font-size: 0.8rem;
  height: 33px;
}

.petCardContentThumbailName {
  height: 40px;
  font-size: 17px;
  margin: 0;
}
.divGeoAdress {
  height: 100%;
  position: relative;
  bottom: 3%;
}
