@media screen and (max-width: 820px) {
  .sideBar {
    display: none !important;
  }
}

.sideBar {
  background-color: rgba(61, 51, 153, 0.127);
  width: 8vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  overflow: auto;
  justify-content:flex-start;
}
.tittleMyPets {
  text-align: center;
  font-size: 14px;
}
.namePetMyPetCard {
  margin: 0;
  font-size: 0.8rem;
}
.containerSideBar {
  width: 8vw;
}
