.ViewDataDisplay {
  width: 91vw;
  height: 80vh;
  position: relative;
  margin: auto;
  border: solid 1px rgba(0, 0, 0, 0.125);
  padding: 10px;
  bottom: 0%;
  z-index: 300;
}
.sideBarDataDisplay {
  width: 15%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.107);
}
.buttonsContainerSideBarDataDisplay {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsSideBarDataDisplay {
  width: 100%;
  height: 20%;
  text-align: center;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.3vh;
  padding: 0% !important;
  margin-top: 5px;
  width: 80% !important;
}

.controlPanelDataDisplay {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlPanelDataDisplay2 {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controlBottomPanelDataDisplay {
  box-sizing: border-box;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenDataDisplay {
  background-color: transparent;
  width: 85%;
  height: 100%;
  position: relative;
  bottom: 100%;
  left: 15%;
  display: flex;
  justify-content: center;
}
.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
  background-color: black !important;
  width: fit-content !important;
  height: fit-content !important;
}
