.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  background: #240d132a !important;
  color: #0f0f0f;
  border-color: #ffffff;
}
.p-button {
  font-weight: 100 !important;
}

div
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div
  > div
  > div {
  border-radius: 70px !important;
  /*   border: 2px solid rgba(0, 0, 0, 0.088);
 */
  box-shadow: none !important;
  background-color: transparent !important;
}
div
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div.gm-style-moc {
  background-color: transparent !important;
  
}

.p-dropdown,
.p-component,
.p-inputwrapper {
  font-size: 0.8rem !important;
}

.p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  bottom: 0rem !important;
  font-size: 12px;
  
}
.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 0% !important;
  margin-top: 0rem !important;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}
.p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0rem !important;
  opacity: 50%;
}

.p-fluid .p-dropdown .p-dropdown-label {
font-size: 0.8rem !important;}