.MuiAppBar-colorPrimary {
  background-color: transparent !important;
  position: fixed !important;
  z-index: 20;
}

.iconPhotoUpload {
  font-size: 50px !important;
}
.p-inputwrapper {
  height: 40px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 8px !important;
}
.p-button {
  background-color: #11151C ;
}
.p-button-label {
  font-weight: 100;
}
.p-slider-handle{
  border-color: #11151C !important;
  font-size: 10px !important;

}